
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutFreeLancer.cshtml";
}



<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-star"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content -->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">
                    Employment is a relationship between two parties, usually based on a contract where work is paid for,
                    where one party, which may be a corporation, for profit, not-for-profit organization, co-operative or
                    other entity is the employer and the other is the employee.[1] Employees work in return for payment,
                    which may be in the form of an hourly wage, by piecework or an annual salary, depending on the type
                    of work an employee does or which sector she or he is working in. Employees in some fields or sectors
                    may receive gratuities, bonus payment or stock options. In some types of employment, employees may
                    receive benefits in addition to payment. Benefits can include health insurance, housing, disability
                    insurance or use of a gym. Employment is typically governed by employment laws, regulations or legal
                    contracts.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">
                    An employee contributes labor and expertise to an endeavor of an employer or of a person conducting
                    a business or undertaking (PCBU)[2] and is usually hired to perform specific duties which are packaged
                    into a job. In a corporate context, an employee is a person who is hired to provide services to a
                    company on a regular basis in exchange for compensation and who does not provide these services as
                    part of an independent business.
                </p>
            </div>
        </div>
        <!-- About Section Button -->
        @*<div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
                    <i class="fas fa-download mr-2"></i>

                </a>
            </div>*@
    </div>
</section>